<div class="container">
    <div class=" d-flex justify-content-center my-5">
        <div class="card col-lg-8 ">
            <div class="card-body">
                <h4 class="title">ارتباط با ما</h4>
                <ul class="list">
                    <li class="d-flex justify-content-start contact-item">
                        <i class="bx bx-map"></i>
                        <h4 class="pr-4">یزد،بافق،خیابان امام رضا، فروشگاه ،هالیدی</h4>
                    </li>
                    <li class="d-flex justify-content-start contact-item">
                        <i class="bx bx-phone"></i>
                        <h4 class="pr-4">035-3242-0953</h4>
                    </li>
                    <li class="d-flex justify-content-start contact-item">
                        <i class="bx bx-envelope"></i>
                        <h4 class="pr-4">miladz@yahoo.com</h4>
                    </li>
                    <li class="d-flex justify-content-start contact-item">
                        <i class="bx bxl-instagram"></i>
                        <h4 class="pr-4">miladzeinali</h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>