<div class="container pb-5 mt-n2 mt-md-n3" *ngIf="cartItems.length  ; else cart">
    <h2 class="h6 d-flex flex-wrap justify-content-start align-items-center px-4 py-3 bg-web-two">
        <strong class="badge bg-web-one">   سبد خرید</strong></h2>

    <div class="row">
        <div class="col-xl-9 col-md-8">
            <!-- Item-->
            <div class=" my-4 pb-4  card" *ngFor="let item of cartItems">
                <app-cart-item [cartItem]="item"></app-cart-item>
            </div>
        </div>
        <!-- Sidebar-->
        <div class="col-xl-3 col-md-4 bg-web-two my-4 pb-4" *ngIf="OrderConfirmPrice ">
            <div class="d-flex justify-content-between align-items-center pt-1">
                <p class="  "> قیمت کالاها <span>({{OrderConfirmPrice.count |persianNumber}})</span> </p>
                <p>{{OrderConfirmPrice.totalprice | persianNumber}} تومان</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="  "> تخفیف کالاها </p>
                <p>{{OrderConfirmPrice.offprice |persianNumber}} تومان</p>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <p class="  "> مبلغ نهایی</p>
                <p>{{OrderConfirmPrice.totalprice|persianNumber}} تومان</p>
            </div>
            <div class="d-grid gap-2"><button class="btn bg-web-one " (click)="checkOut()"> ادامه ی فرایند خرید</button></div>
        </div>
    </div>
</div>

<ng-template #cart>
    <div class="card my-4">
        <div class="card-boddy">
            <div class=" d-flex justify-content-center">
                <fa-icon [icon]="cartIcon" style="font-size: 100px;color:#ef6c00 ;"></fa-icon>
            </div>
            <div class=" d-flex justify-content-center">
                <p>سبد خرید شما خالی می باشد</p>
            </div>
        </div>

    </div>
</ng-template>