<section class="h-100 my-5">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="card-wrapper" style="width: 25rem;">
                <!-- <div class="brand">
                    <h1>Holiteck</h1>
                </div> -->
                <div class="card fat">
                    <h4 class="card-header bg-web-one">Holitech</h4>
                    <div class="card-body">
                        <form class="my-login-validation">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="mobile" [formControl]="code" name="code" placeholder="name@example.com" required>
                                <label for="code">کد تایید</label>

                            </div>



                            <div class="d-grid gap-2 mt-2"> <button (click)="sendCode()" class="btn bg-web-one" style=" color: #fff;">
                  ارسال
                </button></div>


                            <div class="mt-4 text-center">
                                هنوز ثبت نام نکرده ام? <a routerLink="/get-phone/">ایجاد حساب کاربری</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>