.rating {
    color: #ffa000;
    list-style-type: none;
    padding: 0;
}

.fa-star:before {
    content: "\f005";
}

element.style {}

.rating {
    color: #ffa000;
    list-style-type: none;
    padding: 0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.rating li,
.side-nav .social li {
    display: inline-block;
}

.product-card .card-footer {
    background-color: transparent;
}

.product-card h5 {
    font-size: 16px;
    color: #616161;
}

.card-ecommerce img {
    width: 180px;
    height: 200px !important;
}