<section class="section pt-4">

    <h4 class="font-weight-bold mt-4 font-color-1">
        <h4>محصولات ویژه</h4>
    </h4>
    <hr class="red mb-5">
    <div class="pt-5 container bg-web-two slider">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="d-flex justify-content-center" *ngFor="let i of [1 , 2 , 3 , 4]">
                <!--Card-->
                <div class="card card-ecommerce">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Category & Title-->

                        <h5 class="card-title mb-1">
                            <strong>
                              <a href="" class="font-color-1">iPhone 5</a>
                          </strong>
                        </h5>
                        <span class="badge badge-danger mb-2">bestseller</span>
                        <!-- Rating -->
                        <ul class="rating">
                            <li>
                                <i class="fas fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fas fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fas fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fas fa-star blue-text"></i>
                            </li>
                            <li>
                                <i class="fas fa-star blue-text"></i>
                            </li>
                        </ul>

                        <!--Card footer-->
                        <div class="card-footer pb-0">
                            <div class="row mb-0">
                                <span class="float-left">
                                  <strong>799 تومان</strong>
                              </span>

                            </div>
                        </div>

                    </div>
                    <!--Card content-->

                </div>
                <!--Card-->
            </ng-template>
        </owl-carousel-o>
    </div>
</section>