<!-- start-header------------------------------->
<header class="d-block m-header">
    <div class="main-container">
        <section class="header-main-row align-items-center">
            <div class="col-lg-8 col-xs-12 float-right px-0">
                <div class="header-right">
                    <!-- menuResponsive -->
                    <nav class="sidebar">
                        <div class="nav-header">
                            <div class="header-cover"></div>
                            <div class="logo-wrap">
                                <a class="logo-icon" href="#"><img alt="logo-icon" src="assets/images/logo.png" width="40"></a>
                            </div>
                        </div>
                        <ul class="nav-categories ul-base">
                            <li>
                                <a data-toggle="collapse" href="#headingOne" role="button" aria-expanded="false" aria-controls="headingOne">
                                    <i class="mdi mdi-chevron-left"></i> کالای دیجیتال
                                </a>
                                <div class="collapse" id="headingOne">
                                    <ul>
                                        <li class="has-sub"><a href="#" class="category-level-2">موبایل</a>
                                            <ul>
                                                <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                                <li><a href="#" class="category-level-3">اپل</a></li>
                                                <li><a href="#" class="category-level-3">شیايومی</a></li>
                                                <li><a href="#" class="category-level-3">هواوی</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="#" class="category-level-2"> تبلت </a>
                                            <ul>
                                                <li><a href="#" class="category-level-3">ساسسونگ</a></li>
                                                <li><a href="#" class="category-level-3">اپل</a></li>
                                                <li><a href="#" class="category-level-3">شیايومی</a></li>
                                                <li><a href="#" class="category-level-3">هواوی</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#" class="category-level-3"> هدست</a></li>
                                                <li><a href="#" class="category-level-3"> گلس</a></li>
                                                <li><a href="#" class="category-level-3">کاور</a></li>
                                                <li><a href="#" class="category-level-3">منوپاد</a></li>
                                                <li><a href="#" class="category-level-3">شارژر</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="#" class="category-level-2">  کامپیوتر و قطعات</a>
                                            <ul>
                                                <li><a href="#" class="category-level-3"> هارد</a></li>
                                                <li><a href="#" class="category-level-3"> فلش مموری</a></li>
                                                <li><a href="#" class="category-level-3">موس</a></li>
                                                <li><a href="#" class="category-level-3">ساعت هوشمند</a></li>
                                                <li><a href="#" class="category-level-3">دانگل بلوتوث</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="#" class="category-level-2">   لوازم خانگی و اتوموبیل </a>
                                            <ul>
                                                <li><a href="#" class="category-level-3"> تلویزیون</a></li>
                                                <li><a href="#" class="category-level-3"> اسپیکر </a></li>
                                                <li><a href="#" class="category-level-3">امپلی فایر</a></li>
                                                <li><a href="#" class="category-level-3"> پخش اتوموبیل</a></li>
                                                <li><a href="#" class="category-level-3">دانگل بلوتوث</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="nav-menu-item" class="nav-item mega-dropdown">
                                <a href="search.html" class="nav-link">خانه</a>
                            </li>
                            <li id="nav-menu-item" class="nav-item mega-dropdown">
                                <a href="search.html" class="nav-link"> تماس با ما </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav-btn nav-slider">
                        <span class="linee1"></span>
                        <span class="linee2"></span>
                        <span class="linee3"></span>
                    </div>
                    <div class="overlay"></div>
                    <!-- menuResponsive -->
                    <!-- logo--------------------->
                    <div class="col-lg-3 float-right">
                        <div class="logo row d-block text-right">
                            <a href="index.html">
                                <img src="assets/images/logo.png" alt="superkala" height="48">
                            </a>
                        </div>
                    </div>
                    <!-- end-logo--------------------->
                    <!-- search----------------------->
                    <div class="col-lg-9 float-left">
                        <div class="search text-right row">
                            <div class="search-box">
                                <form action="#" class="form-search" id="frmSearch">
                                    <img src="assets/images/search-icon.svg" alt="search icon">
                                    <input type="search" class="input-search" id="search-field" name="src-input" placeholder="برند، کالا و یا دسته بندی مورد نظر خود را جستجو کنید">
                                    <div class="input-group-append">
                                        <button class="btn btn-search" type="submit">
                                                    جستجو
                                                </button>
                                    </div>
                                </form>
                                <div class="search-result">
                                    <ul class="search-result-list mb-0">
                                        <li>
                                            <a href="#"><i class="mdi mdi-clock-outline"></i>مواد غذایی</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="mdi mdi-clock-outline"></i>نوشیدنی و دمنوش</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="mdi mdi-clock-outline"></i>خواربار</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="mdi mdi-clock-outline"></i>ابزار و ملزومات</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="mdi mdi-clock-outline"></i>آرایشی بهداشتی</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end-search----------------------->
                </div>
            </div>

            <div class="col-lg-2 col-xs-12 float-left">
                <div class="header-left">
                    <div class="header-account text-left">
                        <div class="account-box">
                            <!--login dropdown-->
                            <div class="dropdown dropdown-account d-inline-block">
                                <button class="btn btn-secondary dropdown-toggle btn-account" type="button" id="dropdownMenuButtonaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="assets/images/profile-icon.svg" alt="account">
                                        </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonaccount">
                                    <div class="name-profile">09911234567</div>
                                    <a class="dropdown-item" href="#"><img src="assets/images/account-header/user-panel-icon.svg" alt="user" width="20"> پروفایل</a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/account-header/order-history-icon.svg" alt="shop" width="20"> تاریخچه خرید</a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/account-header/logout-icon.svg" width="20"> خروج</a>
                                </div>
                            </div>
                            <!--login dropdown end-->
                            <!--shopping cart-->
                            <button type="submit" class="btn btn-shopping-bag" id="offcanvas-trigger-cart">
                                        <span class="d-xl-inline mr-8">
                                            <div class="shopping-bag-item topCartCount">2</div>
                                            <img src="assets/images/cart-icon.svg" alt="cart icon">
                                        </span>
                                    </button>
                            <nav id="offcanvasCart" class="offcanvas offcanvas-cart">
                                <div class="offcanvas-bar">

                                    <!--offcanvas header-->
                                    <div class="offcanvas-header offcanvas-header_shadow">

                                        <!--login - shopping cart-->
                                        <div class="d-flex align-items-center justify-content-between mb-12">
                                            <!--login dropdown-->
                                            <div class="dropdown dropdown-account d-inline-block">
                                                <button class="btn btn-secondary dropdown-toggle btn-account" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <img src="assets/images/profile-icon.svg" alt="account">
                                                            </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <div class="name-profile">09911234567</div>
                                                    <a class="dropdown-item" href="#"><img src="assets/images/account-header/user-panel-icon.svg" alt="user" width="20"> پروفایل</a>
                                                    <a class="dropdown-item" href="#"><img src="assets/images/account-header/order-history-icon.svg" alt="shop" width="20"> تاریخچه خرید</a>
                                                    <a class="dropdown-item" href="#"><img src="assets/images/account-header/logout-icon.svg" width="20"> خروج</a>
                                                </div>
                                            </div>
                                            <!--login dropdown end-->

                                            <!--close shopping cart-->
                                            <button class="btn btn-close-cart" type="button" id="offcanvas-dismiss-cart">
                                                        <i class="mdi mdi-close"></i>بستن سبد خرید
                                                    </button>
                                            <!--close shopping cart end-->

                                        </div>
                                        <!--login - shopping cart end-->
                                        <!--total price-->
                                        <div class="d-flex align-items-center">
                                            <div class="offcanvas-header_title ml-auto">مجموع خرید</div>
                                            <div class="offcanvas-header_price mr-auto">
                                                <div class="offcanvas-header_price-value text-success">
                                                    <span id="cartOkPriceT">177,00</span>
                                                    <span class="offcanvas-header_price-currency">تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--total price end-->
                                    </div>
                                    <!--offcanvas header end-->
                                    <!--offcanvas body-->
                                    <div class="wrapper">
                                        <div class="scrollbar" id="style-1">
                                            <div class="force-overflow">
                                                <div class="offcanvas-body">
                                                    <div class="os-viewport">
                                                        <!--product item-->
                                                        <div class="offcanvas-product-box cart-item">
                                                            <!-- remove-product -->
                                                            <button type="submit" class="offcanvas-product-box_delete remove-from-cart"><i class="mdi mdi-close"></i></button>
                                                            <!--product img-->
                                                            <div class="offcanvas-product-box_image">
                                                                <img src="assets/images/account-header/img-product/1.png" alt="پنیرسفید 300 گرمی رامک">
                                                            </div>
                                                            <div class="offcanvas-product-box-content float-right">
                                                                <!--product title-->
                                                                <span class="offcanvas-product-box-title text-truncate">پنیرسفید 300 گرمی رامک</span>
                                                                <div class="justify-content-between">
                                                                    <div class="offcanvas-product-box-price">
                                                                        <del>95,000</del>
                                                                        <div class="offcanvas-product-box-price-value">90,250
                                                                            <span class="offcanvas-product-box-price-currency">تومان</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="offcanvas-required-number-cart">
                                                                        <div class="required-number before">
                                                                            <div class="quantity">
                                                                                <input type="number" min="1" max="100" step="1" value="1">
                                                                                <div class="quantity-nav">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="offcanvas-product-box cart-item">
                                                            <!-- remove-product -->
                                                            <button type="submit" class="offcanvas-product-box_delete remove-from-cart"><i class="mdi mdi-close"></i></button>
                                                            <!--product img-->
                                                            <div class="offcanvas-product-box_image">
                                                                <img src="assets/images/account-header/img-product/2.png" alt="مربای تمشک 625 گرمی میکس لند">
                                                            </div>
                                                            <div class="offcanvas-product-box-content float-right">
                                                                <!--product title-->
                                                                <span class="offcanvas-product-box-title text-truncate">مربای تمشک 625 گرمی میکس لند</span>
                                                                <div class="justify-content-between">
                                                                    <div class="offcanvas-product-box-price">
                                                                        <del>329,000</del>
                                                                        <div class="offcanvas-product-box-price-value">230,003
                                                                            <span class="offcanvas-product-box-price-currency">تومان</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="offcanvas-required-number-cart">
                                                                        <div class="required-number before">
                                                                            <div class="quantity">
                                                                                <input type="number" min="1" max="100" step="1" value="1">
                                                                                <div class="quantity-nav">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--offcanvas body end-->
                                    <!--offcanvas footer-->
                                    <div class="offcanvas-footer">
                                        <div class="offcanvas-cart-summery">
                                            <div class="d-flex align-items-stretch justify-content-around">

                                                <div class="text-center">
                                                    <span class="d-block mb-2">مجموع اقلام</span>
                                                    <div class="offcanvas-header-price">
                                                        <div class="offcanvas-header-price-value text-danger text-center">
                                                            <span id="cartCount">2</span>
                                                            <span class="offcanvas-header-price-currency">مورد</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-center">
                                                    <hr class="divider-vertical divider-vertical-lg">
                                                </div>

                                                <div class="text-center">
                                                    <span class="d-block mb-2">مجموع تخفیف‌ها</span>
                                                    <div class="offcanvas-header_price">
                                                        <div class="offcanvas-header-price-value text-secondary text-center">
                                                            <span id="cartDiscountT">108,497</span>
                                                            <span class="offcanvas-header-price-currency">تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-primary btn-lg btn-block rounded-0 order-link" href="#">
                                                    ثبت سفارش
                                                    &nbsp;<span>(<span id="cartOkPriceT2">177,00</span> <small>تومان</small>)</span>
                                                </a>
                                    </div>
                                    <!--offcanvas footer end-->

                                </div>
                            </nav>
                            <!--shopping cart end-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-search-box"></div>
        </section>
        <!-- nav-bar -->
        <nav class="navbar">
            <div class="d-block">
                <!-- menu -->
                <ul class="navbar-ul">
                    <li id="nav-menu-item" class="nav-item mega-dropdown nav-overlay">
                        <a href="search.html" class="nav-link"> دسته بندی محصولات</a>
                        <!-- mega menu -->
                        <ul class="mega-menu">
                            <!--mega-menu container-->
                            <div class="mega-menu-container">
                                <div class="float-right pr-0">
                                    <div class="mega-menu-category">
                                        <li class="menu-mega-item menu-item-type-mega-menu">
                                            <a href="search.html" class="mega-menu-link">دیجیتال</a>
                                            <ul class="mega-menu-sublist-row" style="display: block;">
                                                <div class="col-lg-3 float-right">
                                                    <!--title-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-title" [routerLink]="['/category/']" [queryParams]="{product:'Mobile'}">موبایل</a>
                                                    </li>
                                                    <!--title-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> سامسونگ</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> اپل</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> شیايومی</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> هواوی</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--title-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-title" href="search.html">لوازم جانبی گوشی</a>
                                                    </li>
                                                    <!--title-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> هدست</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> پاوربانک</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> گلس</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> کاور</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> منوپاد</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> شارژر</a>
                                                    </li>
                                                    <!--link item-->

                                                </div>

                                                <div class="col-lg-3 float-right">
                                                    <!--title-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-title" href="search.html">تبلت</a>
                                                    </li>
                                                    <!--title-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> سامسونگ</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> اپل</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> شیايومی</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> هواوی</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--title-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-title" href="search.html">کامپیوتر و قطعات</a>
                                                    </li>
                                                    <!--title-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html">هارد </a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html">  فلش مموری</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> موس</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> ساعت هوشمند</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> دانگل بلوتوث</a>
                                                    </li>
                                                    <!--link item-->


                                                </div>
                                                <div class="col-lg-3 float-right">

                                                    <!--title-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-title" href="search.html">لوازم خانگی و اتوموبیل</a>
                                                    </li>
                                                    <!--title-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> تلویزیون</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> اسپیکر</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> امپلی فایر</a>
                                                    </li>
                                                    <!--link item-->
                                                    <!--link item-->
                                                    <li class="mega-menu-sublist-item">
                                                        <a class="mega-menu-sublist-link" href="search.html"> پخش اتوموبیل</a>
                                                    </li>

                                                </div>
                                                <!--show more-->
                                                <!-- <div class="mega-menu-sublist-more">
                                                    <a href="#"><i class="mdi mdi-plus"></i>
                                                                مشاهده موارد بیشتر
                                                            </a>
                                                </div> -->
                                                <!--show more-->
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <!--mega-menu container-->
                            <!--menu picture-->
                            <div class="col-lg-4 float-left">
                                <div class="mega-menu-adplacement">
                                    <a href="#" class="mega-menu-adplacement-item">
                                        <img src="assets/images/account-header/menu/342166.png" alt="Foodstuffs" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <!--menu picture-->
                        </ul>
                        <!-- mega menu -->
                    </li>
                    <li id="nav-menu-item" class="nav-item mega-dropdown">
                        <a href="search.html" class="nav-link">خانه</a>
                    </li>
                    <li id="nav-menu-item" class="nav-item mega-dropdown">
                        <a href="search.html" class="nav-link"> تماس با ما </a>
                    </li>
                </ul>
                <!-- menu -->
            </div>
        </nav>
        <!-- nav-bar -->
    </div>
    <div class="offcanvas-overlay"></div>
</header>
<div class="nav-categories-overlay"></div>
<!-- end-header -->